


.image-right {
  flex-direction: row-reverse;
}
.wp-block-cgb-contentblockk{
  display: flex;
  max-width: 1100px;
  padding: 2rem;
    margin: 2rem auto; 
    gap: 1rem;
    .image img{
      width: 100%;
        height: 320px;
    }
}
.text , .image {
  flex: 50%;
}

.text h3, .text h4 {
  text-align: start;
  margin-bottom: 1rem;
  font-family: "DDC Hardware";
  font-size: 1.75rem;
  
} 

@media (max-width: 768px){
.wp-block-cgb-contentblockk{
display: flex;
width: 90%;
flex-direction: column;  }
.text h3 {
  text-align: center;
 
} 
.text p {
  text-align: center;
}
}
@media (min-width: 768px) {
  .image img{
    height: 300px;
    max-width: 600px;
    max-height: 500px;
  }
}